/*--- 01 TYPOGRAPHY SYSTEM
 
           
-Font Weights : 
Default : 

-Line Heights :

-Letter Spacing : 
    
-FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-COLORS
- Primary :  #4a80f5
Primary for font color : #edf2fe

- Tints : #6e99f7 #80a6f8(used to deemhasize things)
          #92b3f9         
          =>>>>  #a5c0fa  #b7ccfb  #dbe6fd
- Shades: #345aac #25407b #162649
- Accents : #f18d00
- Greys :#f7f7f7 #eee


- Secondary: #bbdaa4  #a7cdf2 #9bbff4



-IMAGES

- SHADOWS

-BORDER-RADIUS
  Default : 0.5rem
  Small : 0.3rem


-WHITESPACE
 
-SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* 


/* ---------------------------- */
/* GENERAL THINGS */
:root {
  --color-primary: #4a80f5;
  --color-primary-light--1: #dbe6fd;
  --color-primary-light--2: #b7ccfb;
  --color-primary-light--3: #80a6f8;
  --color-primary-dark--1: #345aac;
  --color-primary-dark--2: #162649;

  --color-secondary--1: #bbdaa4;
  --color-secondary--2: #a7cdf2;
  --color-secondary--3: #9bbff4;
  --color-font: #edf2fe;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;

  --color-accent: #f18d00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--color-font);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  font-size: 1.5rem;
  /* overscroll-behavior-y: none; */

  background-color: #fff;
  /* padding: 2.5rem; */
}
main {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100%;
}

/* ----------------------------
  REUSABLE THINGS
  ---------------------------- */
@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.025);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
@keyframes slide-in {
  0% {
    transform: translateY(-0.5rem);

    opacity: 0.3;
  }
  50% {
    transform: translateY(-0.25rem);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-out {
  0% {
    opacity: 1;
  }
  50% {
    transform: translateY(-1rem);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-2rem);
    opacity: 0;
  }
}
@keyframes slide-up-down {
  0% {
    transform: translateY(-0.5rem);
  }
  25% {
    transform: translateY(0.5rem);
  }
  50% {
    transform: translateY(-0.25rem);
  }
  75% {
    transform: translateY(0.25rem);
  }
  100% {
    transform: translateY(0);
  }
}

span {
  display: inline-block;
  position: relative;
}
.btn {
  position: relative;

  border: none;
  border-radius: 0.3rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color-font);
  line-height: 1.2;
  font-family: inherit;
  padding: 1.25rem 2.5rem;
  text-transform: uppercase;

  overflow: hidden;
}
.btn--form {
  background-image: linear-gradient(
    to right,
    var(--color-primary-light--3),
    var(--color-primary-dark--1)
  );
}
.btn--form:hover {
  background-image: linear-gradient(
    to left,
    var(--color-primary-light--3),
    var(--color-primary-dark--1)
  );
}

.btn--options {
  background-image: linear-gradient(
    to left,
    var(--color-primary-light--3),
    var(--color-primary-dark--1)
  );
  height: 3.8rem;
  font-size: 1.5rem;
  max-width: 0;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 1rem 0rem rgb(128, 166, 248, 0.2);
  transition: box-shadow 0.2s ease-in-out, max-width 0.3s ease-out;
}

.active.btn--options {
  max-width: 30rem;
}
.btn--options:hover {
  background-image: linear-gradient(
    to left,
    var(--color-primary-light--3),
    var(--color-primary-dark--1)
  );
  transform: translateY(-0.3rem);
  box-shadow: 0.5rem 0.5rem 1rem 0rem rgb(128, 166, 248, 0.3);
}
.btn--options:active {
  transform: translateY(-0.1rem);
  box-shadow: 0.5rem 0.5rem 1rem 0rem rgb(128, 166, 248, 0.2);
}

.btn--delete-all {
  /* --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d; */
  max-width: 25rem;
  background: linear-gradient(to right bottom, #ba265d 50%, #ff3366);
  box-shadow: 0.25rem 0.25rem 1rem 0rem rgba(241, 141, 0, 0.2);
}

.btn--delete-all:hover {
  background-image: linear-gradient(to left bottom, #ba265d 50%, #ff3366);
  transform: translateY(-0.3rem);
  box-shadow: 0.5rem 0.5rem 1rem 0rem rgba(241, 141, 0, 0.3);
}
.btn--delete-all:active {
  transform: translateY(-0.1rem);
  box-shadow: 0.5rem 0.5rem 1rem 0rem rgba(241, 141, 0, 0.2);
}

.btn__visible,
.btn__invisible {
  transition: all 0.2s;
  display: inline-block;
}
.btn__visible {
  width: 100%;
}
.btn__invisible {
  position: absolute;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  /* Making it invisible without display:none */
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.btn:hover .btn__invisible {
  top: 0;

  /* Making it visible again */
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.btn:hover .btn__visible {
  transform: translateY(100%);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.center {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-mr {
  margin-right: 1.2rem;
}
.medium-mr {
  margin-right: 2.4rem;
}
.big-mr {
  margin-right: 3.2rem;
}
.huge-mr {
  margin-right: 4.8rem;
}

.small-mt {
  margin-top: 1.2rem;
}

.medium-mt {
  margin-top: 2.4rem;
}
.big-mt {
  margin-top: 3.2rem;
}
.huge-mt {
  margin-top: 4.8rem;
}

/* -------------------------- */
/* Designing bottom */
.bottom {
  /* position: fixed; */
  max-height: 15rem;
  width: 100%;
  background: var(--color-dark--1);
  border-top: 2px solid #f18d00;
  box-shadow: 0 1rem 2rem 0 rgba(241, 141, 0, 0.25);
}
.bottom__content {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  justify-content: space-between;
}
.location-container {
  font-weight: 600;
}
.location__name {
  font-weight: 700;
  margin-left: 0.4rem;
  color: var(--color-primary-light--2);
  text-transform: uppercase;
}
.weather-container {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
}
.weather__box {
  /* position: relative; */
  padding: 1rem;
  padding-right: 3.2rem;
  height: 100%;
  flex: 1 1 auto;
  border-left: 1px solid var(--color-font);
}
.weather__box::before {
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-font);
  transform: scaleY(0);
  height: 0.3rem;
  transition: transform 0.2s, height 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
  /* border: 1px solid var(--color-font);
  border-radius: 1.2rem; */
}
.weather__box:hover::before {
  transform: scaleY(1);
  height: 100%;
}

.weather-icon {
  margin-right: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}

.fahrenheit {
  position: absolute;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s;
}
.active.fahrenheit {
  top: 0;
}
.inactive.celsius {
  transform: translateY(100%);
}
.weather-icon[name='sunny-outline'] {
  color: var(--color-accent);
  stroke: var(--color-accent);
}
.weather-icon[name='water-outline'] {
  color: var(--color-primary-light--3);
}
.weather-icon[name='glasses-outline'] {
  color: #bba151;
}

.message {
  display: inline-block;
  color: var(--color-primary-light--3);
}
.weather__box:hover .message {
  color: var(--color-primary-dark--1);
}

.temperature,
.humidity,
.uv {
  color: rgba(241, 141, 0, 0.7);
}
.logo-box {
  height: 5.5rem;
}
.logo {
  height: 100%;
}

.weather__details {
  position: fixed;
  text-align: left;
  /* width: 100%; */
  padding: 1rem 2rem;
  left: calc(50vw - 37.5vw);
  top: calc(50vh - 25rem);
  width: 65vw;
  color: var(--color-accent);
  font-style: normal;
  background-color: var(--color-primary-dark--2);
  transform: scaleY(0);
  max-height: 0.3rem;
  transition: transform 0.4s 1s, max-height 5s cubic-bezier(1, 0, 0, 1) 0.6s,
    visibility 5s 0.6s, opacity 5s 0.5s;
  border: 1px solid var(--color-primary-dark--1);
  border-radius: 1.2rem;
}
.weather__details__box {
  padding: 2rem 1rem;
}

.weather__details__title {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.weather__details__text {
  font-size: 1.6rem;
  color: var(--color-primary-light--1);
  letter-spacing: 0.25px;
  font-weight: 500;
}
.active.weather__details {
  max-height: max-content;
  transform: scaleY(1);
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}

/* -------------------------- */
/* SIDEBAR */
.sidebar {
  background-image: linear-gradient(
    to right,
    var(--color-dark--1),
    var(--color-dark--2) 85%
  );
  position: absolute;
  left: -100%;
  /* top: 0; */
  z-index: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  max-width: 55rem;
  padding: 2rem 2rem;
  transition: left 0.3s;
}
.active.sidebar {
  left: 0;
}
.workouts {
  list-style: none;
  flex-basis: 60rem;
  border: 2px solid var(--color-dark--2);
  border-radius: 1rem;
  /* max-height: 77vh; */
  padding: 2rem 2rem;

  overflow-y: scroll;
  overflow-x: hidden;
}

.workouts::-webkit-scrollbar {
  width: 0;
}

.workout {
  background-image: linear-gradient(
    to right,
    var(--color-primary-dark--2),
    var(--color-primary-dark--1) 85%
  );
  max-height: 10rem;
  border-radius: 1rem;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;
  color: var(--color-font);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 1.25rem;
  transition: max-height 0.3s ease-in-out;
}
.maximized.workout {
  max-height: 15rem;
}
.workout--running {
  border-left: 5px solid var(--color-dark--1);
}
.workout--cycling {
  border-left: 5px solid var(--color-dark--1);
}
.workout__options {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  position: relative;
}

.workout__btn {
  width: 2.9rem;
  height: 2.9rem;
  transition: all 0.2s ease-out;
}

.workout__btn--maximize {
  color: var(--color-primary);
}
.rotate.workout__btn--maximize {
  transform: rotate(180deg);
}
.workout__btn--delete {
  margin-right: auto;
  color: #ff3366;
  /* color: var(--color); */
}
.workout__btn--edit {
  margin-left: auto;
  margin-right: 0.5rem;
  color: var(--color-accent);
}

.workout__icon {
  display: inline-block;
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.workout__title {
  font-size: 1.7rem;
  font-weight: 600;
}

.workout__details {
  display: flex;
  align-items: baseline;
}

.workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.workout__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}

.workout__weather {
  background-color: var(--color-primary-dark--1);
  background-image: linear-gradient(
    to bottom,
    var(--color-primary-dark--1),
    var(--color-primary-dark--2) 85%
  );
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  grid-column: 1/-1;
  display: flex;
  justify-content: space-around;

  transition: all 0.25s;
}
.inactive.workout__weather {
  transform: translateY(100%);
}
.workout__weather__box {
  display: flex;
  align-items: center;
}

/* -------------------------- */
/* Working with form*/
.form {
  position: absolute;
  z-index: 2;
  top: 15%;
  right: 3%;
  background-color: var(--color-primary-dark--2);
  opacity: 1;
  border-radius: 0.5rem;
  border-top: 2px solid var(--color-primary-light--3);
  border-left: 2px solid var(--color-primary-light--3);
  padding: 2.5rem;
  box-shadow: 1rem 1rem 2rem 0 var(--color-primary-dark--2);

  display: flex;
  flex-direction: column;
  gap: 3rem;

  /* Match height and activity boxes */
  height: auto;
  width: 35rem;
  transition: all 0.2s;
}
.form:hover {
  transform: scale(1.025);
}
.hidden.form {
  /* DISPLAY NONE */
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  position: relative;

  border: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form__row--hidden {
  display: none !important;
}

.form__label {
  color: var(--color-font);
  flex: 0 0 50%;
  font-size: 1.6rem;
  font-weight: 600;
}

.form__input {
  width: 50%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--color-primary-light--1);
  transition: all 0.2s;
}

.form__input:focus {
  outline: 0.25rem solid var(--color-primary);
  background-color: var(--color-font);
}
.input-error {
  display: inline-block;
  line-height: 1.7;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0.8rem;
  margin-left: auto;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #ba265d;
  color: #ff3366;
  transform: translateY(-3.5rem);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: all 0.2s;
}
.form-error {
  color: var(--color-accent);
  font-size: 1.5rem;
}
.animate-up-down {
  animation: slide-up-down 0.2s linear;
}
.animate-slide-in {
  animation: slide-in 0.25s linear;
}
.animate-slide-out {
  animation: slide-out 0.25s linear;
}
.active.input-error {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.input-error > .form__input {
  outline: 0.25rem solid var(--color-primary);
}
.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.twitter-link:link,
.twitter-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
  color: var(--color-light--2);
}

/* MAP */
#map {
  z-index: 0;

  flex: 1;

  background-color: var(--color-light--1);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 0.5rem;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}

/* Autocomplete */

/* -------------------------- */
/* Working with options bar */

.autocomplete-container {
  display: inline-block;
  position: relative;
  outline: 0.1rem inset var(--color-primary-light--1);
  background-color: var(--color-primary-dark--1);
  /* transform: translateX(-50%); */
  z-index: 1;
  border-radius: 0.5rem;

  /* border-radius: 0.3rem; */
  width: 35rem;
  height: 3.8rem;
  transform: scale(0);
  transform-origin: left;
  transition: all 0.3s;
}
.autocomplete-container input {
  display: inline-block;

  font-size: 1.6rem;
  border-radius: 0.5rem;
  font-style: italic;
  height: 100%;
  width: 100%;
  color: var(--color-font);
  padding: 1.5rem 3rem;
}
.geoapify-autocomplete-items {
  position: relative;
}
.autocomplete-container input::placeholder {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--color-font);
}
.active.autocomplete-container {
  transform: scale(1);
}

.options-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  transition: all 0.5s;
  background-color: var(--color-dark--1);
  position: relative;

  border-bottom: 2px solid rgb(74, 128, 245);
  box-shadow: 0 -1rem 2rem 0 rgba(74, 128, 245, 0.25);
}
.options-content {
  position: absolute;
  /* z-index: 1; */
  left: 0;
  top: 0;
  /* background-color: var(--color-accent); */
  width: 100%;
  height: 70%;
  padding: 0 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.active.options-bar {
  height: 10rem;
}

.search-content {
  display: flex;
  gap: 1.4rem;
}

/* Ajusta»õi dimensiunile butonului aici */
.moving-button {
  position: absolute;
  z-index: 1;
  height: 3.5rem;
  width: 15rem;
  background-color: transparent;
  border: none;
  bottom: 0;
  transform: translateY(60%);
  transition: transform 0.2s ease-out;
  cursor: pointer;

  visibility: hidden;
}

.svg-img {
  height: 100%;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.2s ease-out;

  border-radius: 50%;
}
.arrow svg {
  fill: #4a80f5;
  width: 2.5rem;
  height: 2.5rem;
}
.arrow:active {
  transform: translate(-50%, 5px);
}
.see-more {
  position: absolute;
  left: 50%;
  bottom: 10%;
  font-weight: 600;
  font-size: 1.6rem;
  display: block;
  transition: 0.3s ease-out;
  transform: translateX(-50%);
  color: var(--color-accent);
}

.invisible {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.display-none {
  display: none;
}

.modal-error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  background-color: var(--color-primary-light--1);
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 4;
}

.close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 3.25rem;
  color: #a30000;
  cursor: pointer;
  border: none;
  background: none;
}
.modal-error__title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1.2;
  color: #a30000;
  margin-bottom: 2rem;
}
.modal-error__message {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #d11a1a;
}
.modal-error__message__code {
  color: #a30000;
  font-weight: 600;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 3;
}
